.nav-bar .mobile-navigation {
  display: none;
}

@media (min-width: 0px) and (max-width: 767px) {
  .nav-bar .navigation {
    display: none;
  }

  .nav-bar .mobile-navigation {
    display: flex;
  }

  .nav-bar .mobile-navigation .hamburger {
    position: absolute;
    left: 0;
    padding-left: 5%;
    cursor: pointer;
  }

  .nav-bar nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    padding-left: 5%;
    border-top: 2px solid #dddddd;
    width: 100%;
    background-color: #3c3a3a;
    opacity: 0.8;
  }

  .nav-bar nav a {
    padding: 0.5rem 0;
  }
}