@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");

header,
section,
footer {
  font-family: "Montserrat", sans-serif;
  color: #dddddd;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3c3a3a;
}

html {
  scroll-behavior: smooth;
}
