@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");

header,
body,
footer {
  font-family: "Montserrat", sans-serif;
}

body::before {
  display: block;
  content: "";
  height: 56px;
}

section:before {
  height: 50px;
  content: "";
  display: block;
}

.carousel-inner .carousel-item {
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  position: absolute;
}
.carousel-inner .carousel-item:first-of-type {
  position: relative;
}
.carousel-inner .active {
  opacity: 1;
}
